version: "3.8"
services: 
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: api_java
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./script_table_creation.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - yunex_network
  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      - yunex_network

volumes:
  postgres_data:

networks:
  yunex_network:
    driver: bridge